*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-content: center;
}

#ghost{
   /* height: 5rem;
   width: 5rem; */
   position: absolute;
   /* left : 
   bottom:  */
   transition: transform 600ms, opacity 4s,; 
  
}

.wall{
    background-color: red;
    width: 500px;
    height :10px;
    position: fixed;
}

#sprite{
    position: relative;
}
.enemys{
  width : 50px;
  height: 50px;
  position: fixed;
}
h1{
    text-align: center;
}
#keys-count{
  color: red;
}
p{
    text-align: center;
}

/* .header{
    display: flex;
    justify-content: center;
    text-align: center;
} */
#gameOver{
    color : red;
    text-align: center;
    position:fixed;
    left: 266px;
    top:  40px;
    z-index: 10;
    font-family: 'Horror Type', sans-serif;
    font-size: 500px;
    opacity: 0;
    transition: opacity, 2s;
}

#playAgain{
    position: absolute;
    left: 616px;
    top:650px;
    width:200px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-family: Courier New, monospace;
    opacity: 0;
    z-index: 3;
    transition: opacity 4s;
}

#winScreen{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    left: 0px;
    opacity: 0;
    transition: opacity 4s;
}

#youWin{
    position: relative;
    z-index: 2;
    font-size: 100px;
    top: 500px;
    right: 200px;
    font-family:Jazz LET, fantasy;
    opacity: 0;
    transition: opacity 4s;
}

#winGhost{
    z-index: 3;
    position: fixed;
    left: 500px;
    top: 0px;
    opacity: 0;
    transition: opacity 8s;
}

#background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: grayscale(100%);
    z-index: -1;
    /* display: none; */
}

#info{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: gray;
    border-radius: 100%;
    box-shadow: 2px 2px 2px black;
    z-index: 2;
    top: 10px;
    left: 0px;
   }

   #line{
    height: 30px;
    width: 5px;
    background-color: white;
    position: absolute;
    top: 36%;
    left: 45%;
}
#dot{
    height: 5px;
    width: 5px;
    position: relative;
    border-radius: 100%;
    background-color: white;
    top:15%;
    left: 45%;

}
#howplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    text-align: center;
    position: absolute;
    background-color: rgb(137, 0, 32);
    border: 2px solid black;
    height: 300px;
    width: 300px;
    top: 60px;
    z-index: -5;
}
#howplay ul{
    font-size: 19px;
    color: rgb(255, 255, 255);
    
}
/* .info:hover .howplay{
    display: block;
    
} */
#info:hover{
    transform: scale(1.3);
}

h3{
    text-decoration: underline;
}


#title{
  width: 500px;
  height: 90px;
  left: 290px;
  position: relative;
}

#theme{
    position: absolute;
    z-index: 2;
    top:650px;
    /* background-color: black; */
}