*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-content: center;
}

#ghost{
   /* height: 5rem;
   width: 5rem; */
   position: absolute;
   /* left : 
   bottom:  */
   transition: all 5ms; 
}

.wall{
    background-color: red;
    width: 500px;
    height :10px;
    position: fixed;
}

#sprite{
    position: relative;
}
.enemys{
  width : 50px;
  height: 50px;
  position: fixed;
}