body{
    background-color: black;
    color: whitesmoke;
}

#ghost{
   height: 5rem;
   width: 5rem;
   position: fixed;
   left : 100px;
   bottom: 500;; 
}

.wall{
    background-color: red;
    width: 500px;
    height :10px;
    position: fixed;
}